body,
* {
    margin: 0;
    padding: 0;
    color: rgb(212, 211, 211);
    font-family: "Releway", Helvetica, sans-serif;
}

#slideshow {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.row {
    margin: 0 0;
}

.slick1 {
    height: 70vh;
    line-height: 70vh;
    position: relative;
}

.slick img {
    max-width: 100%;
    min-height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0.9);
}

.slick-dots {
    position: relative;
    bottom: 40px;
}

.slick-dots li.slick-active button:before {
    color: rgb(148, 21, 80);
}

.wrapper {
    overflow: hidden;
    margin: 0 auto;
    z-index: 2;
    margin-top: 70vh;
    margin-bottom: 0;
    padding-left: 60px;
    padding-right: 60px;
    background-color: rgb(20, 20, 20);
    /* background: linear-gradient(to right, rgb(245, 244, 244) 0%, rgb(97, 108, 133) 100%); */
}

.navbar {
    background-color: rgb(14, 10, 10);
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    border-bottom: 1px solid rgb(148, 21, 80);
}

.description {
    min-height: 30vh;
    font-size: 24px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.description div {
    color: rgb(148, 21, 63);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-style: oblique;
}

.footer {
    text-align: center;
    color: #656669;
    width: 100%;
    background-color: #000;
    padding: 10px;
    font-size: 15px;
}

h3 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 35px;
    padding-top: 35px;
    text-align: center;
}

.underline {
    width: 30px;
    margin: 4px auto auto;
    border-bottom: 2px solid;
    display: block;
}


.news {
    background-color: rgb(37, 37, 37);
    box-shadow: black 5px;
    border-radius: 10px;
    margin: 20px 20px;
    color: #656669;
    box-shadow: 0px 0px 35px -5px rgba(0, 0, 0, 0.75);
    padding: 15px;
    position: relative;
    min-width: 350px;
    box-sizing: border-box;
    overflow: hidden;
}


.pinkbtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: rgb(148, 21, 80);
    border: 2px rgb(148, 21, 80) solid;
    border-radius: 0;
}

.pinkbtn:hover {
    background-color: rgb(116, 16, 63);
    border-color: rgb(116, 16, 63);
}


.logo {
    position: absolute;
    top: 20vh;
    left: 20vw;
    z-index: 3;
    text-transform: uppercase;
    color: white;
    background-color: rgba(228, 228, 228, 0.377);
    padding: 10px 15px;
    animation: text 12s infinite;
    opacity: 0;
}

.logo:nth-of-type(2) {
    animation-delay: 4s;
}

.logo:nth-of-type(3) {
    animation-delay: 8s;
}

@keyframes text {
    0% {
        opacity: 0;
    }

    3% {
        opacity: 0;
    }

    6% {
        opacity: 1;
    }

    27% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    33.33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.group-title {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(110, 156, 58);
    cursor: pointer;
    padding: 10px 10px;
    margin-top: 5px;
}

.group-title h4 {
    color: rgb(167, 165, 165);
    transition: all 0.2s;
}

.group-title:hover>h4 {
    color: rgb(248, 248, 248);
    padding-left: 30px;
}

.group-descr {
    display: none;
    /*  przez to nie dziąła mi grid */
    background-color: rgb(46, 46, 46);
    color: rgb(151, 151, 151);
}

.cookie-msg {
    background: linear-gradient(to bottom, rgba(167, 166, 166, 0.801) 0%, rgba(0, 0, 0, .95) 100%);
    position: fixed;
    height: 60px;
    z-index: 4;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: translateY(100%);
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    /* max-height: 500px; */
    /* height: 60vh; */
    margin: 20px 0;
    box-sizing: border-box;
}

.video-responsive iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    max-width: 798px;
    max-height: 449px;
}


.cookie-msg.active {
    transform: none;
}

p {
    padding-bottom: 10px;
}

@media(max-width:800px) {
    .slick img {
        /* min-height: 70vh; */
        /* min-width: 100%; */
        /* min-width: auto; */
        /* max-width: 110vw; */
    }

    .news {
        min-width: 100%;
        margin: 10px 0px;
    }

    .description {
        font-size: 18px;
    }

    .wrapper {
        padding: 0 15px 15px 15px;
    }

}

@media(min-width:1000px) {
    .news {
        min-width: 450px;
    }
}


@media(min-width:798px) {
    .video-responsive {
        padding-bottom: 0px;
        min-height: 500px;
    }
}

@media(min-height:853px) {
    .slick img {
        min-height: 70vh;
    }
}